@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

$brand-color: #ffcc00;
$text-color: #000000;
$title-color: #666;

$b-size: 1px;

$text-ff: 'Poppins', sans-serif;